@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root{
    --line-border-fill:#3498bd;
    --link-border-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
}


body{
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 300px;
}

/* progress line style */
/* progress line before any progress */
.progress-container::before{
    content: '';
    background-color: var(--link-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

/* after the progress started */
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: 0.4s ease;
}

/* circle */
.circle{
    background-color: white;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--link-border-empty);
    transition: 0.4 ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}


/* btn */
/* btn style */
.btn{
    background-color: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

/* when clicked becomes small for a moment */
.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

/* disables btn bg  color and cursor when on it*/
.btn:disabled{
    background-color: var(--link-border-empty);
    cursor: not-allowed;
}
